*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mona Sans", sans-serif;
    overflow-x: hidden;
}

/* HEADER */

header{
    margin-bottom: 30px;
}
.imgNav{
    border-radius: 50%;
    transition: all 0.3s;
}

.imgNav:hover{
    border: 2px solid black;
    padding: 2px;

}

.navbar{
    position: sticky !important; 
    background: rgb(2, 2, 167);
    background: linear-gradient(90deg, rgba(2,2,167,0.6474964985994398) 0%, rgb(17, 15, 56) 35%);
}

.navbar div a{
    color: rgba(255, 255, 255, 0.877);
}





/* Body */
@media screen and (max-width: 320px) {
    .contImgPrincipal{
        width: 250px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow: hidden;
    }
    .contImgPrincipal img{
        background-repeat: no-repeat;
        
    }
}


.bodyContIndex{
    background: rgba(60, 51, 126, 0.671);
    background: radial-gradient(circle, rgba(101,97,131,1) 0%, rgba(16,42,106,1) 100%);    
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    height: 1300px;
    background: radial-gradient(circle, rgba(101,97,131,1) 0%, rgba(16,42,106,1) 100%);    height: 200vh;


}

.sectionPrincipal h1{
    overflow: hidden;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
    margin-bottom: 12px;
}

.mf:hover{
    transition: all 0.7s;
    color: white;
}

.contImgPrincipal{
    width: 100%;
    gap: 3%;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.parrafoPrincipal{  
    text-align: center;
    color: rgba(255, 255, 255, 0.877);
    backdrop-filter: blur(20%); /* EL BLUR */
}


.contImgPrincipal img{
    width: 350px;
    height: 300px;
    border-radius: 15px;
    transition: all 0.1s;
}

.contImgPrincipal img:hover{
    padding: .0625rem;
    -webkit-box-shadow: 1px -1px 39px 0px rgba(0,0,0,1);
    -moz-box-shadow: 1px -1px 39px 0px rgba(0,0,0,1);
    box-shadow: 1px -1px 39px 0px rgba(0,0,0,1);
}


.tituloSec{
    text-align: center;
    margin-bottom: 50px;
}
.sectSec{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.sectSec img{
    height: 350px;
    width: 480px;
}
.s2{
    float: right;

}

.tituloSec{
    overflow-y: hidden;
}
/* Footer */
footer{
    background: rgb(2,2,167);
    background: linear-gradient(90deg, rgba(2,2,167,0.6474964985994398) 0%, rgba(17,15,56,0.9556197478991597) 65%);
}
.footContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
.copy{
    color: rgba(255, 255, 255, 0.541);
}
.ulContainer{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0px;
    height: 100%;
    margin: 0;
}

.ulContainer li a img{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 30%;
    padding: 3px;
    transition: all 0.6s;
}
.ulContainer li a img:hover{
    background-color: rgba(112, 112, 185, 0.815)

}