*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
.imgNav{
    border-radius: 50%;
    transition: all 0.3s;
}

.imgNav:hover{
    border: 2px solid black;
    padding: 2px;

}

.navbar{

    background: rgb(2,2,167);
    background: linear-gradient(90deg, rgba(2,2,167,0.6474964985994398) 0%, rgba(17,15,56,0.9556197478991597) 35%);
}

.navbar div a{
    color: rgba(255, 255, 255, 0.877);
}





/* Body */

.bodyContIndex{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionPrincipal{
    padding: 40px;
    background-color: rgba(34, 34, 114, 0.651)
}

.sectionPrincipal h1{
    text-align: center;
}



.contImgPrincipal{
    display: flex;
    justify-content: space-around;
}

.parrafoPrincipal{
    text-align: center;
}


.contImgPrincipal img{
    width: 350px;
    height: 300px;
    border-radius: 15px;
    transition: all 0.1s;
}

.contImgPrincipal img:hover{
    border: 2px solid black;
}

/* Footer */
footer{
    background: rgb(2,2,167);
    background: linear-gradient(90deg, rgba(2,2,167,0.6474964985994398) 0%, rgba(17,15,56,0.9556197478991597) 65%);
}
.footContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
.copy{
    color: rgba(255, 255, 255, 0.541);
}
.ulContainer{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0px;
    height: 100%;
    margin: 0;
}

.ulContainer li a img{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 30%;
    padding: 3px;
    transition: all 0.6s;
}
.ulContainer li a img:hover{
    background-color: rgba(112, 112, 185, 0.815)

}